* {
    margin: 0;
    padding: 0;
}



header {
    background-color: rgb(8, 133, 112);
    border-bottom: 3px solid rgb(160, 157, 157);
    
}
header h1 {
    padding: 25px;
    color: white;
    text-align: center;
}

nav ul{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

nav li {
    text-decoration: none;
    padding-bottom: 25px;
    font-size: 20px;
    list-style: none;
}
a {
    text-decoration: none;
    color: white;

}
main {
    background-color: rgb(12, 153, 129);
    color: white;
    padding: 10vw;
    padding: auto;
}

#sessao1 {
    display: flex;
    justify-content: space-between;
    
}

#sessao1 article{
    width: 60%;
    text-align: justify;
}

aside img {
    width: 455px;
    
    border-spacing: 0;
    border-radius: 20px;
    padding: 3px;
}

table {
    border-spacing: 0;
}
aside {
    width: 35%;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    border: 3px solid rgb(160, 157, 157);  
}

table tr , td , th{
    border: 3px solid rgb(160, 157, 157);
    border-radius: 20px;
    text-align: center;
    padding: 5px 0px 5px;
}

#tabela { 
    text-align: center;
}

h2 {
    margin-bottom: 25px;
    text-align: center;
    font-size: 25px;
}

p {
    font-size: 18px;
}


h3 {
    font-size: 25px;
    text-align: center;
    padding: 100px;
    
}